{% extends "ComicCollectionTracker/base.html" %}

{% block head-extras %}
<script type="text/javascript">
$(function(){
    // Initialize the tablesorter
    $("#issues-table").tablesorter();

    // Initialize dialog window
    $("#add-issue-dialog").dialog({
        autoOpen: false,
        resizable: true,
        modal: true,
        buttons: {
            "Find Issue": function() {
                $("#add-issue-dialog-form").submit();
            },
            "Cancel": function() {
                $(this).dialog("close");
            }
        }
    });

    // Make buttons clickable
    $("#add-issue-button").click(function() {
        $("#add-issue-dialog").dialog("open");
    });
});
</script>
{% endblock %}

{% block title_addon %}Home{% endblock %}

{% block header %}Home{% endblock %}

{% block content %}
    <p>Hello, {{ request.user.first_name }}!</p>
    <div class="button-group stacked-for-small">
        <a id="add-issue-button" class="button">Add an Individual Issue</a>
        <a id="add-series-button" class="button">Add Issues From a Series</a>
    </div>
{#        <li><form action="publication/add/" method="get">#}
{#            {{ form_publication }}#}
{#            <input type="submit" value="Add All From Publication" />#}
{#        </form></li>#}
    {% if issues_list %}
        <table id="issues-table" class="tablesorter-blue">
            <thead>
                <tr>
                    <!-- TODO: Add checkboxes for row selection -->
                    <th>Issue</th>
                    <th>On-Sale Date</th>
                    <th>Printing</th>
                    <th>Cover No./Letter</th>
                    <th>Issue Comment</th>
                    <th>Own (P)</th>
                    <th>Own (D)</th>
                    <th>Read?</th>
                    <th>Collection Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issues_list %}
                    <tr id="issue-tr-{{ issue.id }}">
                        <!-- TODO: make the next <td> clickable -->
                        <td><a href="{% url 'issue-detail' issue.id %}">{{ issue.publication }} #{{ issue.number.normalize }}</a></td>
                        <td>{{ issue.on_sale_date|date:'Y-m-d' }}</td>
                        <td>{{ issue.printing }}</td>
                        <td>{{ issue.cover }}</td><!-- TODO: make clickable for pop-up image of cover maybe? -->
                        <td>{{ issue.issue_comment|default_if_none:"" }}</td>
                        <td>{{ issue.own_physical|yesno:'Yes,No' }}</td>
                        <td>{{ issue.own_digital|yesno:'Yes,No' }}</td>
                        <td>{{ issue.have_read|yesno:'Yes,No' }}</td>
                        <td>{{ issue.collection_comment|default_if_none:"" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no issues tracked, yet!</p>
    {% endif %}
{% endblock %}

{% block extra-content %}

<!-- Pop-up windows -->
<div id="add-issue-dialog" title="Add Issue by Comicvine ID" class="popup">
    <div class="row">
        <div class="columns medium-12">
            <form id="add-issue-dialog-form" action="{% url 'add-issue' %}" method="get">
                <div class="input-group">
                    {# TODO: fix the vertical alignment on the label and input #}
                    {{ form_issue }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
